[submodule "sio2-syncdb"]
	path = sio2-syncdb
	url = git@github.com:erwangse/sio2-syncdb.git
[submodule "sio2-back-end"]
	path = sio2-back-end
	url = git@github.com:erwangse/sio2-back-end.git
[submodule "sio2-front-end"]
	path = sio2-front-end
	url = git@github.com:erwangse/sio2-front-end.git
